
body{
  display: flex;
  margin-top: 150px;
  align-items: center;
  justify-content: center;
 
  background: #5D809A;
}
table.GeneratedTable {
width:100%;
background-color:#1e204a;
border-collapse:collapse;border-width:1px;
border-color:#872A64;
border-style:solid;
color:gold;
}

table.GeneratedTable td, table.GeneratedTable th {
border-width:1px;
border-color:#872A64;
border-style:solid;
padding:3px;
}

table.GeneratedTable thead {
background-color:#872A64;
}