*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
background-color:#ff8080;
}
h1 {
    text-align: center;
    margin: 25px;
}
hr {
    width: 30%;
    margin: auto;
    margin-bottom: 50px;
    background-color: black;
    padding: 2px;
}